@using static ExampleSite.Components.Settings.LayoutSettings
@inject LayoutSettings LayoutSettings

<h3 style="font-weight: inherit">Layout Settings:</h3>
<div class="HeaderPreview @LayoutSettings.HeaderClass" style="width: 60vmin; height: 100px;">
    <MdIconText Icon="@HeaderIcon" Text="Header" class="@LayoutSettings.HeaderClass"/>
</div>
<div class="DrawerPreview @LayoutSettings.DrawerClass" style="width: 60vmin; height: 100px;">
    <MdIconText Icon="@HeaderIcon" Text="Drawer" class="@LayoutSettings.DrawerClass"/>
</div>

@code {
    private string HeaderIcon => $"Arrow {(LayoutSettings.HeaderPosition is LayoutPosition.Top ? "Upward" : "Downward")}";
    private string DrawerIcon => $"Arrow {(LayoutSettings.HeaderPosition is LayoutPosition.Top ? "Back" : "Forward")}";
}