@using ExampleSite.DefaultThemes
@using ExampleSite.Services
@using MaterialDesign.Color.Colorspaces
@using MaterialDesign.Color.Schemes.Custom
@using MudBlazor.Utilities
@implements IDisposable
@inject ThemeContainer ThemeContainer
@inject SettingsStorageService SettingsStorage
@inject ILogger<Scheme> Logger
@page "/Settings/Scheme"

<DynamicHeadContent>
    <link rel="stylesheet" href="css/Scheme.css">
</DynamicHeadContent>

<article id="SchemeCustomizationGrid">
    <div id="SchemeSettings">
        <h2>Scheme Customization</h2>
        <MudTabs Rounded="true" AlwaysShowScrollButtons="true" Color="MudBlazor.Color.Tertiary" Active
                 TabHeaderClass="on-tertiary-text" @ref="Tabs">
            <MudTabPanel Text="@ThemeSelectionOptions.Oceanic.ToString()" ID="typeof(Oceanic)">
                <MudButton Class="on-secondary secondary-text mud-elevation-4" OnClick="@SetToOceanic">
                    Set to Oceanic Theme
                </MudButton>
            </MudTabPanel>
            <MudTabPanel Text="@ThemeSelectionOptions.Moonlight.ToString()" ID="typeof(Moonlight)">
                <MudButton class="on-secondary secondary-text mud-elevation-4" OnClick="@SetToMoonlight">
                    Set to Moonlight Theme
                </MudButton>
            </MudTabPanel>
            <MudTabPanel Text="@ThemeSelectionOptions.Volcano.ToString()" ID="typeof(Volcano)">
                <MudButton class="on-secondary secondary-text mud-elevation-4" OnClick="@SetToVolcano">
                    Set to Volcano Theme
                </MudButton>
            </MudTabPanel>
            <MudTabPanel Text="@ThemeSelectionOptions.Plasma.ToString()" ID="typeof(Plasma)">
                <MudButton class="on-secondary secondary-text mud-elevation-4" OnClick="@SetToPlasma">
                    Set to Plasma Theme
                </MudButton>
            </MudTabPanel>
            <MudTabPanel Text="@ThemeSelectionOptions.Custom.ToString()" ID="typeof(Theme)">
                <MudColorPicker Value="MudColor" ValueChanged="ColorUpdated" Rounded="true" Class="on-primary primary-text"/>
            </MudTabPanel>
            <MudTabPanel Text="Custom (Advanced)" ID="typeof(ModifiableCustomScheme)">
                @if (!AgreeToAdvancedWarning && ThemeContainer.Scheme is not ModifiableCustomScheme)
                {
                    <MudCheckBox T="bool" @bind-Value="AgreeToAdvancedWarning" Label="@AdvancedWarning"
                                 Color="MudBlazor.Color.Primary"/>
                }
                else
                {
                    <AdvancedCustomOptions/>
                }
            </MudTabPanel>
        </MudTabs>
    </div>
    <div id="SchemeDisplay">
        <SchemeTiles/>
    </div>
</article>

@code {
    private MudTabs? Tabs { get; set; }
    
    private MudColor MudColor { get; set; } = null!;

    private void ColorUpdated(MudColor color)
    {
        MudColor = color;
        ThemeContainer.UpdateScheme(new Theme(HCTA.FromRGBA(new RGBA(color.R, color.G, color.B))));
    }

    private const string AdvancedWarning = "The advanced settings in this section may produce colors with poor " +
                                           "contrast that limit the ability to see any or all elements on a page. " +
                                           "Are you sure you wish to proceed?";
    
    private bool AgreeToAdvancedWarning { get; set; }
    
    private void SetToOceanic() => ThemeContainer.UpdateScheme(new Oceanic());
    private void SetToMoonlight() => ThemeContainer.UpdateScheme(new Moonlight());
    private void SetToVolcano() => ThemeContainer.UpdateScheme(new Volcano());
    private void SetToPlasma() => ThemeContainer.UpdateScheme(new Plasma());

    protected override void OnInitialized()
    {
        Random rng = new();
        byte[] randomBytes = new byte[3];
        rng.NextBytes(randomBytes);
        RGBA rgba = ThemeContainer.Scheme.Origin?.ToRGBA() ?? new RGBA(randomBytes[0], randomBytes[1], randomBytes[2]);
        MudColor = new MudColor(rgba.R, rgba.G, rgba.B, rgba.A255);
    }

    private async void OnSchemeUpdate()
    {
        StorageRequestResult result = await SettingsStorage.SetSchemeAsync(ThemeContainer.Scheme);
        if (!result.Success) Logger.LogError(result.Error, "Failed to set stored scheme.");
        
        var newSchemeResult = await SettingsStorage.GetSchemeAsync();
        if (!newSchemeResult.Success) Logger.LogError(newSchemeResult.Error, "Failed to get new scheme after setting.");
        
        Tabs?.ActivatePanel(ThemeContainer.Scheme.GetType());
        if (AgreeToAdvancedWarning) AgreeToAdvancedWarning = ThemeContainer.Scheme is ModifiableCustomScheme;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;

        ThemeContainer.OnSchemeUpdate += OnSchemeUpdate;
        
        Tabs?.ActivatePanel(ThemeContainer.Scheme.GetType());
    }

    public void Dispose()
    {
        ThemeContainer.OnSchemeUpdate -= OnSchemeUpdate;
    }
}