@using MaterialDesign.Theming.Web.CSS
@using MaterialDesign.Theming.Web.MudBlazor
@using ExampleSite.Services
@using ExampleSite.Components.Settings
@using ExampleSite.Components.Settings.Components.Scheme
@inherits LayoutComponentBase
@implements IDisposable
@inject ILogger<App> Logger
@inject SettingsStorageService SettingsStorage
@inject ThemeContainer ThemeContainer
@inject NavigationManager Nav
@inject LayoutSettings LayoutSettings
@rendermode InteractiveServer

<DynamicHeadContent>
    <link rel="stylesheet" href="css/MainLayout.css">
</DynamicHeadContent>

<MdMudThemeProvider/>

<MdIconConfig Weight="400" Grade="0" LineStyle="MdIconLineStyle.Rounded" OpticalSize="24" Fill="true">
    <MudLayout>
        @{
            // moving the page around on the layout page causes behavior I'm too lazy to fix.
            DrawerVariant variant = Nav.Uri.EndsWith("/Settings/Layout") ? DrawerVariant.Temporary : DrawerVariant.Responsive;
        }
        <MudDrawer @bind-Open="DrawerOpen" Variant="variant" Anchor="@LayoutSettings.MudDrawerPosition" Elevation="1"
                   Class="@LayoutSettings.DrawerClass" ClipMode="DrawerClipMode.Always" DisableOverlay="true" id="Drawer">
            <spacer/>
            <MdIconText Href="/" Icon="Home" Text="Home" Scale="1.3" class="on-secondary-container-text"/>
            <MudDivider Style="@DividerStyle"/>
            <DynamicComponentOutlet Id="@DrawerId"/>
            <SettingsDrawer/>
            <spacer/>
        </MudDrawer>
        <MudAppBar Elevation="2" Class="@LayoutSettings.HeaderClass" Bottom="@(LayoutSettings.HeaderPosition is LayoutSettings.LayoutPosition.Bottom)">
            <MdIcon Icon="Menu" @onclick="ToggleDrawer"/>
            <MudDivider Vertical="true" FlexItem="true" Style="@DividerStyleLeft"/>
            <DynamicComponentOutlet Id="@AppBarId"/>
            <MudDivider Vertical="true" FlexItem="true" Style="@DividerStyleRight"/>
            <MudTooltip Placement="Placement.Bottom" RootStyle="margin: auto 0; height: 36px" Class="SchemeTooltip"
                        Text="@($"Switch to {(Scheme.IsDarkScheme ? "Light" : "Dark")} Mode")" Delay="200">
                <MdIcon Icon="@SchemeIcon" Fill="true" Scale="1.5" style="cursor: pointer;"
                        @onclick="ToggleScheme"/>
            </MudTooltip>
        </MudAppBar>
        <MudMainContent @onclick="CloseDrawer">
            <main class="background on-background-text">
                @Body
            </main>
        </MudMainContent>
    </MudLayout>
</MdIconConfig>

@code {
    public const string DividerStyleLeft = $"margin-right: auto; {DividerStyle}";
    public const string DividerStyle = $"border-color: var({ThemeCSSTokens.OnSecondaryContainerCSSToken}); flex-grow: 0;";
    public const string DividerStyleRight = $"margin-left: auto; {DividerStyle}";
    
    public static string DrawerId { get; } = Guid.NewGuid().ToString();
    public static string AppBarId { get; } = Guid.NewGuid().ToString();
    
    private bool DrawerOpen { get; set; }

    private void ToggleDrawer()
    {
        DrawerOpen = !DrawerOpen;
        StateHasChanged();
    }
    
    private IScheme Scheme => ThemeContainer.Scheme;

    private string SchemeIcon => Scheme.IsDarkScheme ? "Dark Mode" : "Light Mode";
    
    private void ToggleScheme()
    {
        if (Scheme.IsDarkScheme) Scheme.SetLight();
        else Scheme.SetDark();
    }

    private void CloseDrawer()
    {
        if (LayoutSettings.CloseDrawerOnMainFocus) DrawerOpen = false;
    }

    private async void OnUpdate() => await InvokeAsync(StateHasChanged);
    private async void OnNavigate(object? _1, LocationChangedEventArgs _2) => await InvokeAsync(() =>
    {
        if (!DrawerOpen || !LayoutSettings.CloseDrawerOnNavigate) return;
        DrawerOpen = false;
        StateHasChanged();
    });
    
    protected override void OnInitialized()
    {
        ThemeContainer.OnSchemeUpdate += OnUpdate;
        LayoutSettings.OnUpdate += OnUpdate;
        Nav.LocationChanged += OnNavigate;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        
        StorageRequestResult<IScheme> storedScheme = await SettingsStorage.GetSchemeAsync();

        if (storedScheme.Success)
        {
            ThemeContainer.UpdateScheme(storedScheme.Value);
            Logger.LogInformation("Found and set to stored scheme {typeName}.", storedScheme.Value.GetType().Name);
        } 
        else if (storedScheme.Error is not null) Logger.LogError(storedScheme.Error, "Failed to get stored scheme.");
        else Logger.LogInformation("No stored scheme found. This may be indicative of an error, but in of itself is not.");
    }

    public void Dispose()
    {
        ThemeContainer.OnSchemeUpdate -= OnUpdate;
        Nav.LocationChanged -= OnNavigate;
    }

}